@font-face {
  font-family: "Exo20-Light";
  src: url("fonts/Exo20-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Exo20-Regular";
  src: url("fonts/Exo20-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Exo20-Medium";
  src: url("fonts/Exo20-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Exo20-Bold";
  src: url("fonts/Exo20-Bold.ttf") format("truetype");
}
::-moz-selection {
  background: rgba(253, 177, 13, 0.25);
}
::selection {
  background: rgba(253, 177, 13, 0.25);
}

::-moz-selection {
  background: rgba(253, 177, 13, 0.25);
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: rgba(253, 177, 13, 0.25);
}

html {
  font-family: "Exo20-Regular";
  overflow: hidden visible;
}

body {
  min-width: 320px;
  margin: 0;
  background-color: #f6f7f8;
  overflow: hidden visible;
  line-height: 1.2;
  font-size: 1rem;
  color: #000000;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}
button:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}
input:focus,
textarea:focus {
  outline: none;
}

.bg-white {
  background-color: #ffffff;
}

.box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.border-block {
  border-radius: 15px;
  overflow: hidden;
}

.border-block-no-height {
  border-radius: 15px;
  overflow: hidden;
}

.w-100 {
  width: 100%;
}

.margin-top-page {
  margin-top: 4rem;
}
@media (min-width: 992px) {
  .margin-top-page {
    margin-top: 10rem;
  }
}

.rounded-circle {
  border-radius: 50%;
}

#page-404 h1 {
  font-size: 8rem;
}

.custom-input-search {
  width: 30%;
  padding: 0.6rem 1rem;
  color: #000000;
  font-size: 1.1rem;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #ffffff;
  transition: width 0.2s ease;
}
.custom-input-search:focus {
  width: 100%;
}

.form-input {
  width: 100%;
  margin-top: 0.7rem;
  padding: 0.5rem 0.9rem;
  border-radius: 15px;
  border: 2px solid #dee2e6;
  background-color: #dee2e6;
  color: #000000;
  font-family: "Exo20-Regular";
  font-size: 1.2rem;
  box-shadow: none;
  transition: border-radius 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
}
.form-input:focus {
  border-radius: 20px;
  border: 2px solid #b20000;
  box-shadow: 0 0 5px rgba(178, 0, 0, 0.5);
}
.form-input:hover {
  border-radius: 20px;
  border: 2px solid #b20000;
  box-shadow: 0 0 5px rgba(178, 0, 0, 0.5);
}

.form-label {
  width: 100%;
  padding-left: 1rem;
}

.form-btn {
  padding: 0.6rem 1.7rem;
  background-color: #dee2e6;
  color: #000000;
  font-family: "Exo20-Regular";
  font-size: 1.2rem;
  border-radius: 15px;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.form-btn:hover {
  border-radius: 20px;
  color: #ffffff;
  background-color: #b20000;
  box-shadow: 0 0 5px rgba(178, 0, 0, 0.5);
}

.form-textarea {
  height: 100%;
  min-height: 150px;
  max-height: 150px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin-top: 0.7rem;
  padding: 0.5rem 0.9rem;
  border-radius: 15px;
  border: 2px solid #dee2e6;
  background-color: #dee2e6;
  color: #000000;
  font-family: "Exo20-Regular";
  font-size: 1.2rem;
  box-shadow: none;
  resize: none;
  transition: border-radius 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
}
.form-textarea:focus {
  border-radius: 20px;
  border: 2px solid #b20000;
  box-shadow: 0 0 5px rgba(178, 0, 0, 0.5);
}
.form-textarea:hover {
  border-radius: 20px;
  border: 2px solid #b20000;
  box-shadow: 0 0 5px rgba(178, 0, 0, 0.5);
}

.check-custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.check-custom + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1rem;
  cursor: pointer;
}

.check-custom + label::before {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 3px solid #dee2e6;
  border-radius: 50%;
  margin-right: 0.75rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;
}

.check-custom:checked + label::before {
  border-color: #b20000;
  background-color: #b20000;
  border: 3px solid #b20000;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#form-process,
#form-alert {
  padding: 0.6rem 1.7rem;
  font-family: "Exo20-Regular";
  font-size: 1.2rem;
  border-radius: 20px;
  color: #ffffff;
}

#form-process {
  background-color: #031942;
  box-shadow: 0 0 5px rgba(3, 25, 66, 0.5);
}

#form-alert {
  background-color: #53ea93;
  box-shadow: 0 0 5px rgba(83, 234, 147, 0.5);
}

.logo-block-standart {
  width: 50px;
  height: 50px;
}
.logo-block-standart .logo-standart {
  fill: #fe8535;
}

.logo-mini {
  width: 50px;
  height: 50px;
}

.img-250 {
  width: 100%;
  height: 100%;
  min-height: 250px;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-300 {
  width: 100%;
  height: 100%;
  min-height: 300px;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-500 {
  width: 100%;
  height: 100%;
  min-height: 500px;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-people {
  width: 100%;
  height: 100%;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .img-people {
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
  }
}

.line-top {
  border-top: 1px solid #dee2e6;
}

.link-standart {
  color: #000000;
  text-decoration: none;
}
.link-standart:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button-blue {
  padding: 0.6rem 1.4rem;
  background-color: #fd292f;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all 0.2s ease;
}
.button-blue:hover {
  background-color: #b20000;
  color: #ffffff;
  text-decoration: none;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.link-icon i {
  color: #000000;
  transition: all 0.2s ease;
}
.link-icon:hover {
  background-color: #b20000;
}
.link-icon:hover i {
  color: #ffffff;
}

.link-icon-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.link-icon-mobile i {
  color: #000000;
  transition: all 0.2s ease;
}
.link-icon-mobile:hover {
  background-color: #b20000;
}
.link-icon-mobile:hover i {
  color: #ffffff;
}

.link-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  transition: box-shadow 0.2s ease;
}
.link-circle i {
  font-size: 1.5rem;
}
.link-circle:hover {
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.link-circle-green {
  background-color: #53ea93;
  transition: background-color 0.2s ease;
}
.link-circle-green i {
  color: #ffffff;
  transition: color 0.2s ease;
}
.link-circle-green:hover {
  background-color: #ffffff;
}
.link-circle-green:hover i {
  color: #53ea93;
}

.vk {
  background-color: #4376a6;
  transition: background-color 0.2s ease;
}
.vk i {
  color: #ffffff;
  transition: color 0.2s ease;
}
.vk:hover {
  background-color: #ffffff;
}
.vk:hover i {
  color: #4376a6;
}

.whatsapp {
  background-color: #25D366;
  transition: background-color 0.2s ease;
}
.whatsapp i {
  color: #ffffff;
  transition: color 0.2s ease;
}
.whatsapp:hover {
  background-color: #ffffff;
}
.whatsapp:hover i {
  color: #25D366;
}

.text-number {
  padding: 0.6rem 1.2rem;
  background-color: #dee2e6;
  border-radius: 25px;
  font-family: "Exo20-Medium";
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.link-grey {
  padding: 0.7rem 1.4rem;
  background-color: #dee2e6;
  color: #000000;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all 0.2s ease;
}
.link-grey:hover {
  background-color: #b20000;
  color: #ffffff;
  text-decoration: none;
}

.link-activeted {
  padding: 0.7rem 1.4rem;
  background-color: #fd292f;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: background-color 0.2s ease;
}
.link-activeted:hover {
  background-color: #b20000;
  text-decoration: none;
}

.lk-user {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#messages {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding: 10px;
  overflow: hidden;
  z-index: 101;
}
#messages .message {
  display: none;
  position: relative;
  width: 100%;
  padding: 20px 50px 20px 20px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#messages .message .message-text {
  text-overflow: ellipsis;
  overflow: hidden;
}
#messages .message .block-message-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
#messages .message .block-message-close .message-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dee2e6;
  font-size: 0.8rem;
  cursor: pointer;
  box-shadow: none;
  color: #000000;
  transition: all 0.2s ease;
}
#messages .message .block-message-close .message-close div {
  padding-top: 0.1rem;
}
#messages .message .block-message-close .message-close:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #b20000;
  color: #ffffff;
}

.modal {
  position: fixed;
  top: -30vh;
  left: -10vw;
  width: 120vw;
  height: 160vh;
  display: none;
  z-index: 100;
}
@media (max-width: 768px) {
  .modal {
    top: -36vh;
  }
}
.modal .modal-window {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal .modal-window .modal-content {
  width: 500px;
  max-width: 95vw;
  max-height: 95vh;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .modal .modal-window .modal-content {
    max-height: 83vh;
  }
}
.modal .modal-window .modal-content::-webkit-scrollbar {
  width: 0;
}
.modal .modal-window .modal-content .modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dee2e6;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: none;
  color: #000000;
  transition: all 0.2s ease;
}
.modal .modal-window .modal-content .modal-close div {
  padding-top: 0.1rem;
}
.modal .modal-window .modal-content .modal-close:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #b20000;
  color: #ffffff;
}

#navbar {
  width: 100%;
  position: fixed;
  top: 60px;
  z-index: 10;
  transition: all 0.3s ease;
}
@media (max-width: 991px) {
  #navbar {
    display: none;
  }
}
#navbar #navbar-background {
  background-color: #f6f7f8;
  border-radius: 30px;
  transform: scale(1);
  box-shadow: none;
  transition: all 0.3s ease;
}
#navbar #navbar-logo {
  width: 50px;
  height: 50px;
}
#navbar .navbar-link {
  color: #000000;
  text-decoration: none;
}
#navbar .navbar-link:hover {
  text-decoration: underline;
}

.navbar-mobile-btn {
  background-color: transparent;
  padding: 0;
}

#navbar-mobile-icon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 14;
  background-color: #f6f7f8;
  transition: background-color 0.3s ease;
}
#navbar-mobile-icon #navbar-mobile-btn-open {
  color: #000000;
  transition: color 0.3s ease;
}
#navbar-mobile-icon #navbar-logo-mobile {
  width: 25px;
  height: 25px;
}
#navbar-mobile-icon #navbar-logo-mobile .navbar-logo-mobile-color {
  fill: #fd292f;
  transition: fill 0.3s ease;
}

#navbar-mobile {
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  z-index: 15;
  overflow-y: auto;
  transition: left 0.3s ease;
}
#navbar-mobile #navbar-mobile-btn-pos {
  position: absolute;
  top: 0;
  left: 0;
}
#navbar-mobile #navbar-mobile-btn-pos #navbar-mobile-btn-close {
  color: #000000;
}
#navbar-mobile #navbar-mobile-btn-pos #navbar-mobile-btn-close:focus {
  color: #000000;
}
#navbar-mobile #navbar-mobile-btn-pos #navbar-mobile-btn-close:hover {
  color: #000000;
}

.navbar-logo-color {
  fill: #fdb10b;
  transition: fill 0.3s ease;
}

.owl-prev {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fd292f;
  color: #ffffff;
  font-size: 2.5rem;
  transition: background-color 0.2s ease;
}
.owl-prev:hover {
  background-color: #b20000;
}

.owl-next {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fd292f;
  color: #ffffff;
  font-size: 2.5rem;
  transition: background-color 0.2s ease;
}
.owl-next:hover {
  background-color: #b20000;
}

.owl-prev,
.owl-next,
.owl-prev:active,
.owl-next:active,
.owl-prev:focus,
.owl-next:focus {
  outline: none;
  border: none;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.text-light {
  font-family: "Exo20-Light";
}

.text-medium {
  font-family: "Exo20-Medium";
}

.text-bold {
  font-family: "Exo20-Bold";
}

.text-12 {
  font-size: 1.2rem;
}

.small {
  font-size: 80%;
}

.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.icon-circle i {
  font-size: 1.5rem;
  color: #ffffff;
}

.icon-circle-green {
  background-color: #25D366;
}

.icon-circle-red {
  background-color: #b20000;
}/*# sourceMappingURL=main.css.map */